<section class="pb-4 {{background}}" id="footer">
    <div class="container">
        <div class="row mb-4 justify-content-center">
            <div class="col-auto">
            <a href="index.html">
                <img class="logo-img" src="{{ asset('build/images/logos/logo.png') }}" alt="Le Réhausseur" />
            </a>
            </div>
        </div>
        <div class="row mb-4">
            <div class="col">
            <ul class="nav justify-content-center">
                <li class="nav-item"><a href="#" class="nav-link">Contact</a>
                </li>
                <li class="nav-item"><a href="#" class="nav-link">Mentions Légales</a>
                </li>
                <li class="nav-item"><a href="#" class="nav-link">Politique de confidentialité</a>
                </li>
                <li class="nav-item"><a href="#" class="nav-link">Conditions générales de vente</a>
                </li>
            </ul>
            </div>
        </div>
    </div>
</section>
