{% extends 'base.html.twig' %}

{% block title %}Page non trouvée - Le Réhausseur{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}

{% block body %}
    {% include './partials/header.html.twig' %}

    <section class="pt-0">
        <div class="container">
            <div class="row justify-content-center pt-6">
                <div class="col-lg-5 col-md-6">
                    <div class="text-center mb-4">
                        <h1 class="mb-2">Page <span style="color: #ff2e3d">non trouvée</span></h1>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <div class="row justify-content-center pt-2">
                        <div class="col-lg-10 justify-content-center text-center">
                            <img src="{{ asset('build/images/404.gif') }}" />
                        </div>
                        <div class="col-lg-10 justify-content-center text-center mt-5">
                            <a class="btn btn-primary" href="{{ path('app_home') }}">Ramène-moi sur la page d'accueil</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    {% include './partials/footer.html.twig' with {'background':'bg-primary-alt', 'hasDivider': true} %}
{% endblock %}
